/* #mowafak {
  display: flex gap 10px;
} */

#updtae {
  background-color: rgb(74, 74, 102);
}
#delete {
  background-color: red;
}
#addtask {
  margin-left: 500px;
  background-color: rgb(8, 128, 8);
  width: 200px;
}
#containbutton {
  margin-left: 450px;
}
#tableContainer {
  padding-left: 30px;
  padding-right: 30px;
}
